:root {
  --pullcolor: pink;
  --pushcolor: lightskyblue;
  --legscolor: lightgreen;
}

ul {
  margin-left:15px;
  padding-left:0px;
}

div {
  padding: 20px 0px 10px;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row {
  padding: 0px;
}

.row:after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both;
}

.stylized {
  background-color: #202020;
  font-family: "Lucida Console", "Courier New", monospace;
}

.style-ul {
  margin-left: 0px;
  font-size: 14px;
  list-style-type: none;
}

.or {
  color: lightcoral;
}

.style-table {
  font-style: normal;
  font-weight: normal;
  background-color: #1A1A1A;
}

.pull {
  color: var(--pullcolor);
  margin: 0;
  padding: 0;
}

.pullb {
  color: var(--pullcolor);
}

.push {
  color: var(--pushcolor);
  margin: 0;
  padding: 0;
}

.pushb {
  color: var(--pushcolor);
}

.legs {
  color: var(--legscolor);
  margin: 0;
  padding: 0;
}

.legsb {
  color: var(--legscolor);
}

.sub {
  padding-top: -10;
  font-size: small;
  margin: 0;
  padding: 0;
}

.amrap {
  color: lightcoral;
  font-style: bold;
}


/* :root {
  --labelcolor: gray;
}

li:not(.pullb):not(.pushb):not(.legsb):not(.ex):after {
  content: " 12x3";
  font-style: italic;
  color: var(--labelcolor);
}

li:is([class]):not(.ex):after {
  content: " to 95%";
  font-style: italic;
  color: var(--labelcolor);
} */